aiomultiprocess==0.9.1
anyio==4.4.0
biip==3.1.0
certifi==2024.6.2
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
et-xmlfile==1.1.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
isodate==0.6.1
json-tricks==3.17.3
lxml==5.2.2
networkx==3.3
numpy==1.26.4
opencv-python==4.10.0.82
openpyxl==3.1.3
packaging==24.0
pdf2image==1.17.0
pillow==10.3.0
pony==0.7.17
prettytable==3.10.0
psutil==5.9.8
pylibdmtx==0.1.10
pyparsing==3.1.2
pypdf==4.2.0
python-dateutil==2.9.0.post0
python-telegram-bot==21.3
rdflib==7.0.0
reportlab==4.2.0
requests==2.32.3
scipy==1.13.1
six==1.16.0
sniffio==1.3.1
tomlkit==0.12.5
treepoem==3.24.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
pandas~=2.2.2
